@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #363636;
  --foreground: #171717;
  --background-image: url('ui/icons/bg.jpg'); /* Add your image path here */
  --background-image2: url('ui/icons/bg1.jpg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #031136;
    --foreground: #ffffff;
    --background-image: url('ui/icons/bg.jpg'); /* Add your dark mode image path here */
    --background-image2: url('ui/icons/bg1.jpg');
  }
}
.home-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background) var(--background-image) no-repeat center center;
  background-size: cover;
  filter: blur(8px); /* Apply blur effect */
  z-index: -2; /* Ensure it is behind everything else */

}

.home-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: -1; /* Ensure it is above the blurred background but below the content */
}
.home-bg2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background) var(--background-image2) no-repeat center center;
  background-size: cover;
  filter: blur(8px); /* Apply blur effect */
  z-index: -2; /* Ensure it is behind everything else */

}

.home-bg2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: -1; /* Ensure it is above the blurred background but below the content */
}

body{
  background-color: var(--background)
}